:host {
  display: flex;
}

.transaction-container {
  display: flex;
  flex-direction: column;
  padding: 4px;
  gap: 4px;
}

.transaction {
  border: 1px solid black;
  border-radius: 4px;
  background: white;
  padding: 4px;
}

.user-container {
  display: flex;
  flex-direction: column;
  padding: 4px;
  gap: 4px;
}

.user {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 50%;
  background: white;
}
