<div class="col">
  <div class="row">
    <input ref="transactionInput" type="number" />
    <button click.delegate="addTransaction()">Add transaction</button>
  </div>
  <div class="transaction-container">
    <div
      class="transaction"
      repeat.for="transaction of transactions"
      draggable="true"
    >
      ${transaction.amount}
      <button click.trigger="addRandomUserToTransaction(transaction)">
        Add user
      </button>
      <ul>
        <li repeat.for="user of transaction.participants">${user.name}</li>
      </ul>
    </div>
    <div class="transaction">
      Unallocated sum: ${transactionUnallocatedSum}
      <button click.trigger="addRandomUserToUnallocatedSum()">Add user</button>

      <ul>
        <li repeat.for="user of participantsToShareSum">${user.name}</li>
      </ul>
    </div>
  </div>

  Sum: ${transactionSum}
</div>
<div class="col">
  <div class="row">
    <input ref="userInput" />
    <button click.delegate="addUser()">Add user</button>
  </div>
  <div class="user-container">
    <div class="user" repeat.for="user of users" draggable="true">
      ${user.shorthand}
    </div>
  </div>
</div>
