:host {
  display: flex;
}

nav {
  flex: 1;
  background: var(--color-primary-dark);
  display: flex;
}

a {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--color-primary);

  & i {
    transition: transform 500ms, color 1s;
  }

  &:hover i,
  &.load-active i {
    color: var(--color-primary-light);
    transform: scale(1.5);
  }
}
